.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background-color: #EEEEEE;
}
header{
    position: sticky;
    top: 0;
    
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}


.footer {
	position: static;
	width: 100%;
	bottom: 0;
    height: 80vh;
    text-align: start;
	background-color: rgb(237, 237, 237);
    font-size: 15px;
    color: rgb(0, 0, 0);
    margin:200px auto 0 auto;
    box-sizing: border-box;
}
.footer .container {
    padding: 50px 0 ;
}


.message{
    margin: 50px 0;
}
.message a {
    padding: 10px;
    background-color: #286090;
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
    
}
.message h4{
    margin: 30px 0;
    color: rgb(120, 120, 120);
}
.message h4::after{
    content: "";
    margin-top: 10px;
    background-color: rgb(120,120,120);
    display: block;
    width: 10rem;
    height: 0.3rem;
}

.post{
    background-color: #dddddd;
    padding: 10px;
    margin: 20px 0 15px 0;
}